body {
    background-color: #121212;
}

h1, h2, h3, h4, h5 {
    color: #E1E1E1;
    font-family: Poppins, sans-serif;
}

p {
    color: #E1E1E1;
    font-family: Poppins, sans-serif;
}

.my-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 0;
}

hr.my-title {
    width: 300px;
    margin: auto auto 2%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 3%;
}

.work-preview {
    border: 2px solid #E1E1E1;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 20px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.barItem {
    margin-left: 5px;
    margin-right: 5px;
}

.barItem a {
    text-decoration: none;
}

hr.transition  {
    border: none;
}

.skillsIcon {
    width: 64px;
    height: 64px;
    margin: 1%;
}

.xpDiv {
    margin-bottom: 150px;
}

.xpDiv p, h3, h4, img {
    text-align: center;
}

.xpPin {
    width: 175px;
    height: 175px;
    margin:auto;
    display:block;
}